# Ignore node_modules and cache
**/node_modules/
**/.cache/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
log.txt

# Environment variables
.env
.env.* 

# macOS
.DS_Store

# Angular
client/dist/
client/.angular/cache/
client/.angular/

# Compiled output
dist/
build/

# Docker
**/.dockerignore

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing
coverage/
*.lcov

# Others
*.tgz
*.gz

# Kubernetes files - optional, if you generate secrets locally
infra/k8s/*.secret.yaml

# Jest or other test runners cache
**/test-results/
**/.jest/

# System-specific
Thumbs.db
ehthumbs.db
Icon?
Desktop.iniclient/node_modules/
client/dist/


common/